.question-card {
  background: linear-gradient(to bottom, #2a0d0d 5%, #e70e0e 100%);
  font-size: 22px;
  margin-left: 10em;
  border-radius: 18px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  width: 70vw;
  text-align: center;
}
.choices {
  list-style: none;
  border-radius: 18px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  color: #021939;
}
.choice {
  background-color: rgb(247, 245, 246);
  margin-top: 5px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 18px;
  font-size: 20px;
}
.restart-button,
.next-question {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #2a0d0d 5%, #e70e0e 100%);
  background-color: #ef9292;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: rgb(250, 246, 246);
  font-family: Arial;
  font-size: 17px;
  padding: 15px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  margin-left: 35em;
  margin-top: 3em;
  
}
.restart-button:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.restart-button:active {
  position: relative;
  top: 1px;
}
.question-number {
  text-align: left;
  margin-left: 10em;
}
.score {
  text-align: right;
  margin-left: 30em;
}
.select {
  background-color: green;
}
.quiz-end {
  text-align: center;
  margin-top: 3em;
}
