.content {
  text-align: center;
}

.settings {
  width: 45%;
}

.settings__select {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  justify-content: space-evenly;
}

Button {
  width: 140px;
}

.start-quiz-link {
  text-decoration: inherit;
  color: white;
}
